/* SITE-SPECIFIC TAB STYLING */

body.profile #tab_profile a,
body.notices #tab_notices a
{
    color: #000; /* selected tab text colour */
}
body.profile #tab_profile,
body.notices #tab_notices
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}


th {vertical-align: top; border-top: #000 solid 1px;}
td {border-top: #ccc solid 1px;}
#mainimage {float: left; padding: 5px;}
.thumbnail {float: left;}
.timestamp {color: #999;}
.tags {background-color: #eee;}
.editlink {font-size: .8em; float: right;}
