{% extends "site_base.html" %}
{% load uni_form %}
{% load avatar_tags %}
{% load gravatar %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    
    <h1>Gearspotting.com</h1>

<p>Like trainspotting, but for gear.</p>

<ul>
  <li><a href="/manufacturer/">browse gear by manufacturer</a></li>
  <li><a href="/musician/">browse musicians</a></li>
</ul>

<h2>Newest Gear</h2>
<ul>
  {% for gear in newest_gear %}
        <li><a href="{{gear.manufacturer.get_absolute_url}}">{{gear.manufacturer.name}}</a> <a href="{{ gear.get_absolute_url }}">{{ gear.name }}</a></li>
  {% endfor %}
</ul>

{% if newest_musicians %}
<h2>Newest Musicians</h2>
    <ul>
    {% for musician in newest_musicians %}
        <li><a href="{{ musician.get_absolute_url }}">{{ musician.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if newest_comments %}
<h2>Newest Comments</h2>
<table width="100%">
    {% for comment in newest_comments %}
<tr class="{% cycle 'even' 'odd' %}">
<td><a href="{{comment.content_object.get_absolute_url}}">{{comment.content_object.type_display}}:
    {{comment.content_object.name|default:comment.content_object.pk}}</a></td>
<td>
<td><div class="avatar">{% avatar comment.user 40 %}</div></td>
<td>by {{comment.user.username}}</td>
<td>on {{comment.date_submitted|date}}</td>
<td>{{comment.comment|truncatewords:15}}
</tr>
    {% endfor %}
</table>
{% endif %}

    
{% endblock %}
