{% extends "profiles/base.html" %}
{% load markup %}
{% load tagging_tags %}
{% block head_title %}Gear{% endblock %}

{% block body %}

    <h1><a href="/gear/">Gear</a>: {{object.name}}</h1>
    <p><a href="{{object.manufacturer.get_absolute_url}}">{{object.manufacturer.name}}</a></p>
    <p>{% tags_for_object object as tags %}
      {% for tag in tags %}<a href="{% url gear_tag_detail tag %}">{{tag}}</a> {% endfor %}</p>

      
    {{object.description|markdown}}
    {% if user.is_authenticated %}
    <a href="update/">edit</a>
    
    {% else %}

    {% endif %}


{% endblock %}
